﻿<%@ Page Language="C#" MasterPageFile="~/site.master" Inherits="assignment2a_N01294019.Default" %>

<asp:Content runat="server" ContentPlaceHolderID="idea">   
    <p>My Project Management Idea</p>
</asp:Content>
<asp:Content runat="server" ContentPlaceHolderID="myCode">
   <p>My Project Management code</p>
</asp:Content>
<asp:Content runat="server" ContentPlaceHolderID="instructorCode">
    <p>Instructor Project Management code</p>
</asp:Content>
<asp:Content runat="server" ContentPlaceHolderID="links">
    <p>Project Management links</p>
</asp:Content>