﻿<%@ Master Language="C#" Inherits="assignment2a_N01294019.site" %>
<!DOCTYPE html>
<html>
<head id="header" runat="server">
	<title>My Study Guide</title>
      <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<nav> 
<header id="title">
<h1> My Study Guide </h1>
 <ul>
    <li>
       <a id="JS" href="/js.aspx">JS</a>
       <a id="SQL" href="/SQL.aspx">SQL</a>
       <a id="WA" href="/webApplication.aspx">Web Application</a>
   </li>
 </ul>
</header>
</nav>
<div id="container1">
<form runat="server">
    <asp:ContentPlaceHolder id="Concept" runat="server" />
           <hr>
    <asp:ContentPlaceHolder id="myCode" runat="server" />
           <hr>  
    <asp:ContentPlaceHolder id="instructorCode" runat="server" />
           <hr>
    <asp:ContentPlaceHolder id="helpfulLinks" runat="server" />
   <!--             <footer id="footer">
       &copy; Copyright HTTP5101 Assignment 2a Twen Mehretab, 2018.     
</footer>-->
</form>
</div>
<footer id="footer">
       &copy; HTTP5101 Assignment 2a Twen Mehretab, 2018.     
</footer>
</body>
</html>
