﻿body {
    background-color: lightgray;
}
body {
    font: normal 1em/1 Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: black;
}


#header a:link {
    color: #ffffff;
    margin-left: 30%;

}
#JS {
    text-decoration: none;
    color: #ffffff;
   
}
#SQL {
    text-decoration: none;
    color: #ffffff;

}
#WA {
    text-decoration: none;
    color: #ffffff;

}
#title {
    text-decoration: none;
    color: #ffffff;
    text-align: left;
}
#container1 {
    border: solid;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

    /*#container2 {
    border: solid
       
}*/
    nav ul {
    list-style-type:none;
    margin-left: 70%;
}

h1 {
    margin-left: 13%;
    padding-top: 3.5%;
   
}

/*footer {
    background-color: black;

}*/

#footer {
    background-color: black;
    color: #ffffff;
    text-align: left;
    /*margin-left: 5%;*/
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    padding-left: 3%;
}